a,
*:hover,
*:active,
*:focus {
    outline: none !important;
}

body {
    padding: 10px 0;
}

.info-sidebar {
    width: 184px;
    position: fixed;
    padding: 10px 0;
    .border-radius();
    border: 1px solid @table-border-color;

    .btn {
        width: 100%;
    }
}

.select-character-popup {
    .modal-body {
        padding: 0;

        .no-characters {
            padding: 15px;
        }
    }

    .table {
        margin-bottom: 0;

        tr {
            cursor: pointer;

            &:first-child td {
                border-top-color: transparent;
            }

            th {
                border-width: 1px;
            }

            th,
            td {
                &:first-child {
                    width: 1px;
                }

                &:last-child {
                    width: 150px;
                }
            }
        }
    }
}
