<form ng-submit="create()">
<fieldset>
    <legend>Создание персонажа</legend>

    <div class="form-group">
        <label for="name">Имя</label>
        <input ng-model="newCharacter.name"
               id="name"
               class="form-control"
               type="text"
               placeholder="Введите имя персонажа" />
    </div>

    <p class="text-danger">
        {{message}}
    </p>

    <input type="submit"
           class="btn btn-primary"
           value="Создать" />
</fieldset>
