<form ng-submit="create()" class="create-character-form">
    <fieldset>
        <legend>Создание персонажа</legend>

        <div class="form-group">
            <label for="create-character-name">Имя</label>
            <input ng-model="newCharacter.name"
                   id="create-character-name"
                   class="form-control"
                   type="text"
                   placeholder="Введите имя персонажа" />

            <span ng-show="errors.name"
                  class="text-danger">Необходимо указать имя</span>
        </div>

        <div class="form-group">
            <label for="create-character-image">Аватар</label> (png, jpg, gif)
            <input ng-model="newCharacter.image"
                   id="create-character-image"
                   type="file"
                   nv-file-select
                   uploader="uploader" />

            <span ng-show="fileUploadError"
                  class="text-danger">Недопустимый формат или размер файла</span>

            <span ng-show="errors.image"
                  class="text-danger">Необходимо загрузить аватар</span>
        </div>

        <div class="form-group">
            <label for="create-character-biography">Биография</label>
            <textarea ng-model="newCharacter.biography"
                      id="create-character-biography"
                      class="form-control"
                      name="biography"></textarea>
        </div>

        <p class="text-danger">
            {{message}}
        </p>

        <input type="submit"
               class="btn btn-primary"
               value="Создать" />
    </fieldset>
</form>
