div,
.border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 10px 0;
}

.sidebar-nav-fixed {
    position: fixed;
    padding: 10px;
}

.with-borders {
    border: 1px solid silver;
    border-radius: 4px;
}

h4#character-name {
    text-align: center;
    margin: 0;
    margin-top: -10px;
}

button.left-panel-button {
    width: 100%;
}

a.left-panel-button {
    width: 85%;
}

div#select-character table tbody tr {
    cursor: pointer;
}
