div#cell-content {
    height: 115px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #eeeeee;
}

div#cell-content img {
    width: 100px;
    height: 100px;
}

div#main-panel,
div#location-info {
    height: 136px;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 5px;
}

div#move-buttons {
    text-align: center;
    margin: 5px 0;
}

div#chat {
    height: 200px;
    padding: 5px;
    margin-top: 5px;
}

canvas#map {
    float: left;
}

div#right-of-map {
    text-align: right;
    margin-left: 350px;
}
