div#cell-content {
    height: 115px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #eeeeee;
}

div#cell-content img {
    width: 100px;
    height: 100px;
}

div#main-panel,
div#location-info {
    height: 131px;
}

div#map {
    text-align: right;
}

div#move-buttons {
    text-align: center;
    padding-left: 40px;
}

div#chat {
    height: 200px;
}
