div#cell-content {
    border: 1px solid silver;
    height: 115px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#cell-content img {
    width: 100px;
    height: 100px;
}

div#main-panel {
    border: 1px solid silver;
    height: 131px;
}

div#location-info {
    border: 1px solid silver;
    height: 131px;
}

div#map {
    text-align: right;
}

div#move-buttons {
    height: 30px;
    text-align: center;
}

div#chat {
    border: 1px solid silver;
    height: 200px;
}
