div#world {
    border: 1px solid;
    height: 650px;
    width: 842px;
}

div#world div#cell-content {
    background-color: yellow;
    float: left;
    height: 100%;
    width: 120px;
}

div#world div#map {
    width: 210px;
    height: 210px;
    background: #cccccc none repeat scroll 0 0;
    overflow: hidden;
    position: relative;
    float: right;
}

div#world div#cell-picture {
    float: left;
    height: 210px;
    width: 512px;
    background-color: pink;
}

div#world div#chat {
    float: left;
    width: 722px;
    background-color: green;
    height: 250px;
}

div#world div#main-panel {
    float: left;
    width: 512px;
    height: 190px;
    background-color: pink;
}

div#world div#move-buttons {
    float: left;
    width: 210px;
    height: 190px;
    background-color: grey;
}

div#world div#map img#character {
    margin-left: 90px;
    margin-top: 90px;
    width: 30px;
    height: 30px;
}
