<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://web-machine.local/game</property>
    <property name="connection.username"></property>
    <property name="connection.password"></property>
    <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
    <property name="show_sql">true</property>
    <property name="globally_quoted_identifiers">true</property>
    <property name="hibernate.connection.pool_size">20</property>

    <mapping class="game.character.Character"/>
    <mapping class="game.layout.Layout"/>
    <mapping class="game.mob.Mob"/>
    <mapping class="game.mob.MobAvailableCell"/>
    <mapping class="game.mob.MobInfo"/>
    <mapping class="game.npc.Npc"/>
    <mapping class="game.user.User"/>
  </session-factory>
</hibernate-configuration>
